<script setup lang="ts">
import {onMounted, ref} from "vue";
import {GuestAPI} from "@/api";
import type {IGuest} from "@/api/GuestAPI";
import {InvitationStatus} from "@/api/GuestAPI";
import type {ButtonProps, SelectProps} from 'naive-ui';
import {NButton, NScrollbar, NSelect, NSpin} from "naive-ui";
import BigDate from "@/components/BigDate.vue";
import ParagraphDivider from "@/components/ParagraphDivider.vue";

type SelectThemeOverrides = NonNullable<SelectProps['themeOverrides']>
type ButtonThemeOverrides = NonNullable<ButtonProps['themeOverrides']>

const selectThemeOverrides: SelectThemeOverrides = {
    peers: {
        InternalSelection: {
            borderHover: '1px solid #599E46', // $primary
            heightLarge: '46px',
            fontSizeLarge: '20px',
        },
        InternalSelectMenu: {
            optionHeightMedium: '46px',
            optionFontSizeMedium: '20px',
        },
    }
}
const buttonThemeOverrides: ButtonThemeOverrides = {
    heightLarge: '60px',
    fontSizeLarge: '20px',
    colorPrimary: '#599E46', // $primary
    colorHoverPrimary: '#7EB748', // $primary-light
    borderPrimary: '1px solid #599E46',
    borderHoverPrimary: '1px solid #7EB748',
}

const isGuestListLoading = ref(false);
const isStatusChangeLoading = ref(false);
const isStatusChanged = ref(false);

const guestList = ref<IGuest[]>([]);
const selectedGuest = ref<IGuest | null>(null);

onMounted(() => {
    loadGuestList();
})

const loadGuestList = async () => {
    isGuestListLoading.value = true;
    guestList.value = await GuestAPI.getGuestList();
    isGuestListLoading.value = false;
}

const changeInvitationStatus = (status: InvitationStatus) => {
    if(selectedGuest.value) {
        isStatusChangeLoading.value = true;
        GuestAPI.changeInvitationStatus(selectedGuest.value['id'], status);

        isStatusChangeLoading.value = false;
        isStatusChanged.value = true;
    }
}

const selectGuest = (guestId: number) => {
    selectedGuest.value = guestList.value.find(({ id }) => guestId === id ) || null;
    resetStateFlags();
}

const resetStateFlags = () => {
    isStatusChanged.value = false;
}
</script>

<template>
    <div class="invite">
        <div class="invite-card">
            <h1 class="invite-card-title">
                <BigDate class="invite-card-title__date"/>

                <span class="invite-card-title__subtitle text-regular">P.S. Вы этого ждали и вы дождались!</span>
            </h1>

            <NScrollbar>
                <div class="invite-card-content">
                    <div class="invite-card-block title-block">
                        <div>
                            <p class="title-block__main">
                                В этот день состоится свадьба<br>

                                <span class="text-pacifico text-primary text-large">
                                    Катюши Митяевой <br>
                                    и<br>
                                    Вадима Дорофеева<br>
                                </span>

                                Мы будем рады провести этот важный день с тобой!
                            </p>

                            <p class="invite-card-content__address">
                                Будем ждать тебя к 16:30 по адресу: <br>
                                г. Томск ул. Королёва 3 (Академгородок)
                            </p>
                        </div>

                        <ParagraphDivider />
                    </div>

                    <div class="invite-card-block">

                        <p>
                            Дресс кода нет, просто приходи красивым и одетым <br>
                            по погоде - торжество будет частично проходить на улице :) <br>
                        </p>

                        <ParagraphDivider />
                    </div>


                    <div class="invite-card-block">

                        <p>
                            Если хочется сделать нам подарок, то мы будем рады принять его
                            в денежном эквиваленте, т.к. вскоре планируем переезд в другой город.
                        </p>

                        <ParagraphDivider />
                    </div>

                    <div class="invite-card-block">
                    <div class="invite-card-block__name-select">
                        <p>
                            Для подтвержения приглашения выбери своё имя в списке:
                        </p>

                        <n-select
                            class="select"
                            size="large"
                            filterable
                            placeholder="Кто ты?"
                            label-field="name"
                            value-field="id"
                            :options="guestList"
                            :theme-overrides="selectThemeOverrides"
                            :loading="isGuestListLoading"
                            @update:value="selectGuest"
                        />
                    </div>

                    <div class="invite-card-block__controls-container">
                        <n-spin :show="isStatusChangeLoading">
                            <div
                                v-if="!isStatusChanged"
                                class="invite-card-block__controls"
                            >
                                <n-button
                                    size="large"
                                    type="primary"
                                    :theme-overrides="buttonThemeOverrides"
                                    :disabled="!selectedGuest || selectedGuest.invitation_status === InvitationStatus.ACCEPTED"
                                    @click="changeInvitationStatus(InvitationStatus.ACCEPTED)"
                                >
                                    Я приду :)
                                </n-button>

                                <n-button
                                    size="large"
                                    type="primary"
                                    ghost
                                    :theme-overrides="buttonThemeOverrides"
                                    :disabled="!selectedGuest || selectedGuest.invitation_status === InvitationStatus.REJECTED"
                                    @click="changeInvitationStatus(InvitationStatus.REJECTED)"
                                >
                                    Я не приду :(
                                </n-button>
                            </div>

                            <span
                                v-else
                                class="invite-card-block__controls-result"
                            >
                                Ответ принят &#128504;
                            </span>
                        </n-spin>
                    </div>
                </div>
                </div>
            </NScrollbar>
        </div>
    </div>
</template>

<style scoped lang="scss">
@import "src/assets/style/variables";

.mt-lg {
    margin-top: 000px;
}

.invite {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    border-left: 85px solid $secondary-dark;
    border-right: 85px solid $secondary-dark;
    background-color: $white;
    position: relative;
    width: 65%;
    height: 90%;

    .invite-card {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: $white;

        .invite-card-title {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            transform: translateY(-55%);
            text-align: center;
        }

        .invite-card-content {
            display: flex;
            flex-direction: column;
            gap: 100px;
            text-align: center;
            height: max-content;
            background-image: url('src/assets/img/leaf-big.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center 500px;
            padding: 0 130px 64px 130px;

            &__address {
                margin-top: 68px;
            }

            .invite-card-block {
                display: flex;
                flex-direction: column;
                gap: 30px;

                &__name-select {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }

                &__controls {
                    display: flex;
                    justify-content: center;
                    gap: 24px;
                }

                &__controls-result {
                    display: inline-block;
                    color: $primary;
                    font-size: 26px;
                    margin-top: 18px;
                }
            }

            .title-block {
                &__main {
                    background-image: url('src/assets/img/leaf.png');
                    background-repeat: no-repeat;
                    background-position: calc(50% - 90px)  calc(50% + 25px);
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .invite {
        border-left: 5px solid $secondary-dark;
        border-right: 5px solid $secondary-dark;
        width: 95%;
        height: 95%;

        .invite-card {
            display: flex;
            justify-content: center;
            width: 100%;
            background-color: $white;

            .invite-card-title {
                &__date {
                    :deep(.big-date__date) {
                        font-size: 124px;
                    }

                    :deep(.big-date__year) {
                        font-size: 16px;
                    }
                }

                &__subtitle {
                    font-size: 16px;
                }
            }

            .invite-card-content {
                padding: 0 16px 64px 16px;

                &__address {
                    margin-top: 50vh;
                }

                .title-block {
                    &__main {
                        background-image: url('src/assets/img/leaf.png');
                        background-repeat: no-repeat;
                        background-position: calc(50% - 90px)  calc(50% + 25px);
                    }
                }
            }
        }
    }
}
</style>
