<template>
    <span class="big-date">
       <span class="big-date__date">22.06</span>
       <span class="big-date__year">24</span>
    </span>
</template>

<style lang="scss" scoped>
@import 'src/assets/style/variables.scss';

.big-date {
    display: inline-block;
    position: relative;
    font-family: $font-pacifico;
    color: $primary-light;

    &__date {
        font-size: 250px;
    }

    &__year {
        display: inline-block;
        position: absolute;
        top: 55%;
        right: 30%;
        font-size: 32px;
    }
}
</style>
