<template>
    <div>
<!--        <svg id="eXMs4vbU1Nt1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 300 300" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">-->
<!--            <rect width="400" height="500" rx="0" ry="0" transform="matrix(1.096685 0 0 1.651993 0.000001 110.105105)" fill="#e4dcc7" stroke="#b9b4a5"/>-->
<!--            <g>-->
<!--                <path d="M-0.000004,299.23883h299.992768v-189.133662L190.645478,204.67197l-80.943241.231732L0,110.105168L-0.000004,299.23883Z" transform="translate(.007236 0)" fill="#fff8e6" stroke="#b9b4a5" stroke-width="0.6"/>-->
<!--                <path d="M0,299.238828l112.908065-94.566861l77.744647-.000001l109.347286,95.328032L0,299.238828Z" transform="translate(.552492 0.000002)" fill="#fff8e6" stroke="#b9b4a5" stroke-width="0.6"/>-->
<!--            </g>-->
<!--            <path d="M0.007236,110.105168l299.985513-.000063c0,0-76.025246,67.285132-109.718857,94.798596-11.819493,9.651539-27.206841,22.743877-40.27752,22.742621-13.079463-.001257-28.463759-13.105468-40.286902-22.761542C76.023836,177.373401,0.007236,110.105168,0.007236,110.105168Z" transform="translate(.000003 0.000001)" fill="#fff8e6" stroke="#b9b4a5" stroke-width="0.6"/>-->
<!--        </svg>-->

<!--    <span>asdf</span>-->

        <div class="mail">
            <div class="mail__base">

            </div>

            <div class="mail__cover" />

            <div class="mail__tongue"/>
        </div>
    </div>
</template>

<style lang="scss" scoped>

.mail {
    margin-top: 200px;
    position: relative;

    width: 500px;
    height: 300px;

    &__tongue {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        background-image: url("mail-tongue.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transform: scaleY(1) scaleX(1.005) translateY(-9%);
        transform-origin: top;
    }

    &__cover {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        background-image: url("mail-cover.svg");
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 1px solid #C1BBAA;
    }

    &__base {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #E4DCC7;
    }

    &:hover {
        .mail__tongue {
            animation: mail-open 1s;
        }
    }
}

@keyframes mail-open {
    0% {
        transform: scaleY(1) scaleX(1.005) translateY(-9%);
        background-color: transparent;
    }

    47% {
        background-color: transparent;
    }
    48% {
        background-color: gray;
    }

    100% {
        transform: scaleY(-1) scaleX(1.005) translateY(-9%);
        background-color: gray;
    }
}
</style>
