<template>
    <div class="paragraph-divider">
        <img
            v-for="n in 4"
            :key="n"
            class="paragraph-divider__img"
            src="/src/assets/img/logo.png"
        />
    </div>
</template>

<style lang="scss" scoped>
.paragraph-divider {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    height: fit-content;

    &__img {
        height: 48px;
    }
}
</style>
