@import './remove.css';
@import './utils.scss';
@import './fonts.scss';
@import './variables.scss';

html, body {
    font-size: 24px;
    font-family: $font-playfair;
    background-color: $white;
    color: $black;
}
