@import './variables';

.text-regular {
    font-size: $font-size-md;
}

.text-large {
    font-size: $font-size-lg;
}

.text-primary {
    color: $primary;
}

.text-pacifico {
    font-family: $font-pacifico;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}
