$primary: #599E46;
$primary-light: #7EB748;
$secondary-dark: #FFEBE3;

$white: #fdfdfd;
$black: #2d2d2d;

$font-size-md: 24px;
$font-size-lg: 48px;

$font-playfair: "Playfair Display", serif;
$font-pacifico: "Pacifico", serif;
