<template>
    <div class="leaf-layout">
        <img class="leaf leaf--top-left" src="/src/assets/img/many-leafes.gif" alt="">
        <img class="leaf leaf--top-right" src="/src/assets/img/many-leafes.gif" alt="">
        <img class="leaf leaf--bottom-right" src="/src/assets/img/many-leafes.gif" alt="">
        <img class="leaf leaf--bottom-left" src="/src/assets/img/many-leafes.gif" alt="">

        <slot></slot>
    </div>
</template>

<style scoped lang="scss">
.leaf-layout {
    height: 100%;
    overflow: hidden;
    position: relative;

    .leaf {
        position: absolute;
        pointer-events: none;

        &--top-left {
            top: 0;
            left: 0;
            transform:
                scale(-1, -1)
                rotate(-90deg)
                translate(-50%, 30%);
        }

        &--top-right {
            top: 0;
            right: 0;
            transform:
                scale(1, -1)
                rotate(-90deg)
                translate(-50%, 30%);
        }

        &--bottom-right {
            bottom: 0;
            right: 0;
            transform:
                scale(1, 1)
                rotate(-90deg)
                translate(-50%, 30%);
        }

        &--bottom-left {
            bottom: 0;
            left: 0;
            transform:
                scale(-1, 1)
                rotate(-90deg)
                translate(-50%, 30%);
        }
    }
}
</style>
