<script setup lang="ts">
import Invite from '@/components/InviteCard/InviteCard.vue'
</script>

<template>
    <div class="container">
        <Invite />
    </div>
</template>

<style lang="scss" scoped>
.container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 50px 0 0 0;
    justify-content: center;
}
</style>
