<script setup lang="ts">
import MainPage from '@/pages/MainPage.vue'
import LeafLayout from "@/layouts/LeafLayout.vue";
</script>

<template>
    <div class="app">
        <LeafLayout>
            <MainPage />
        </LeafLayout>
    </div>
</template>

<style scoped lang="scss">
.app {
    height: 100vh;
}
</style>
